:root {
	--global-background-color: #121212;
	--global-background-color-shade1: #161616;
	--global-body-color: #0c0c0c;
	--global-border: 1px solid rgba(128, 128, 128, 0.1);
	--global-border-radius: 0.4em;
	--global-button-background-color: #1f1f1f;
	--global-button-background-color-active: #1c1c1c;

	--global-box-shadow: rgba(24, 24, 24, 0.06) 0px 0px 40px 0px;
	--global-box-shadow-inset: rgba(255, 255, 255, 0.06) 0px 0px 40px 0px inset;
	--global-box-shadow-yellow: rgba(247, 202, 25, 0.2) 0px 0px 100px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 100px 0px inset, rgba(247, 202, 25, 0.02) 0px 0px 100px 0px inset;
	--global-spacing: 0.4em;
	--global-text-color: rgba(255, 255, 255, 1);
	--global-text-color-inverted: rgba(0, 0, 0, 1);

	/* --color-gold: #ffb900;
	--color-silver: #cebebe;
	--color-night: #0f0f0f;
	--color-jet: #2d2e2e;
	--color-persian-green: #1b998b;
	--color-fire-engine-red: #c1292e;
	--color-cerulean: #227c9d; */

	--color-yellow: #f7ca19;
	--color-blue: #1e90ff;
	--color-green: #00ff7f;
}
[data-theme='light'] {
	--global-background-color: #f8f8f8;
	--global-background-color-shade1: #f4f4f4;
	--global-body-color: #ffffff;
	--global-border: 1px solid rgba(0, 0, 0, 0.1);
	--global-button-background-color: #fcfcfc;
	--global-button-background-color-active: #f3f3f3;

	--global-box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 40px 0px;
	--global-box-shadow-inset: rgba(0, 0, 0, 0.06) 0px 0px 40px 0px inset;
	--global-box-shadow-yellow: rgba(247, 202, 25, 0.4) 0px 0px 100px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 100px 0px inset, rgba(247, 202, 25, 0.02) 0px 0px 100px 0px inset;

	--global-text-color: rgba(0, 0, 0, 1);
	--global-text-color-inverted: rgba(255, 255, 255, 1);

	--color-yellow: #8d6708;
	--color-blue: #0000e0;
	--color-green: #008000;
}

:root *,
:root > * {
	transition: all 0.2s !important;
}

@font-face {
	font-family: 'Noto Sans';
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	src: url('/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'Noto Color Emoji';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf') format('truetype-variations');
}

.flex {
	margin: 0;
	width: auto;
}

body {
	background-color: var(--global-body-color);
	color: var(--global-text-color);
	font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
	font-size: 1em;
	margin: auto;
	max-width: 720px;
	padding: var(--global-spacing);
}

.container {
	display: grid;
	gap: var(--global-spacing);
	grid-template-rows: max-content;
}

nav {
	align-items: flex-start;
	background-color: var(--global-background-color);
	border: var(--global-border);
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
	display: flex;
	color: var(--global-text-color);
	padding: var(--global-spacing);
	position: unset;
}

nav .menu > * {
	margin-right: 0;
}

nav .menu-hero {
	flex-grow: 1;
}

.hero {
	text-align: center;
}

.card-container {
	display: flex;
	flex-direction: column;
	gap: var(--global-spacing);
}

.card {
	background-color: var(--global-background-color);
	border: var(--global-border);
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
	color: var(--global-text-color);
	margin-bottom: 0;
}

.card header,
.card footer {
	padding: var(--global-spacing);
}

.card header {
	border-bottom: var(--global-border);
}

.card .card:hover {
	box-shadow: var(--global-box-shadow-yellow);
}

.card .card header {
	background-color: var(--global-background-color-shade1);
}

.card-last {
	margin-bottom: 0;
}

button {
	align-self: flex-start;
	background-color: var(--global-button-background-color);
	border: var(--global-border);
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
	color: var(--global-text-color);
	margin: 0;
	padding: var(--global-spacing);
}

button:hover {
	border: var(--global-border);
	box-shadow: var(--global-box-shadow-yellow);
}

button:active {
	background-color: var(--global-button-background-color-active);
	border: var(--global-border);
	box-shadow: var(--global-box-shadow-yellow);
	/* color: var(--global-text-color-inverted); */
}

button:focus {
	border: var(--global-border);
	box-shadow: var(--global-box-shadow-yellow);
	outline: none;
}

button:focus-visible,
button:focus-within {
	box-shadow: var(--global-box-shadow-yellow);
	outline: none;
}

button[disabled] {
	background: unset;
	box-shadow: var(--global-box-shadow-inset);
}

button a {
	color: var(--global-text-color);
}

.last-item {
	padding-bottom: 0;
}

select {
	appearance: button;
	background-color: var(--global-background-color);
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 12 12' enable-background:'new -1 -1 12 12;' xml:space='preserve'> <path fill='%23FFFFFF' d='M9.293,0l-3.147,3.147L.5,5.707l3.646,3.646L9,12l3.147-3.147L12.707,5.707Z'>");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
	border: var(--global-border);
	border-radius: var(--global-border-radius);
}
