:root {
	--global-background-color: #181818;
	--global-body-color: #0c0c0c;
	--global-border: 1px solid rgba(128, 128, 128, 0.1);
	--global-border-radius: 0.4em;
	--global-button-background-color: #1f1f1f;
	--global-button-background-color-active: #1c1c1c;

	--global-box-shadow: rgba(24, 24, 24, 0.06) 0px 2px 40px 0px;
	--global-box-shadow-inset: rgba(255, 255, 255, 0.06) 0px 2px 40px 0px inset;
	--global-box-shadow-yellow: rgba(247, 202, 25, 0.8) 0px 2px 40px 0px,
		rgba(0, 0, 0, 0.06) 0px 2px 40px 0px inset;
	--global-spacing: 0.4em;
	--global-text-color: rgba(255, 255, 255, 1);
	--global-text-color-inverted: rgba(0, 0, 0, 1);

	/* --color-gold: #ffb900;
	--color-silver: #cebebe;
	--color-night: #0f0f0f;
	--color-jet: #2d2e2e;
	--color-persian-green: #1b998b;
	--color-fire-engine-red: #c1292e;
	--color-cerulean: #227c9d; */

	--color-yellow: #f7ca19;
	--color-blue: #1e90ff;
	--color-green: #00ff7f;
}
[data-theme='light'] {
	--global-background-color: #ffffff;
	--global-body-color: rgba(255, 255, 255, 1);
	--global-border: 1px solid rgba(0, 0, 0, 0.1);
	--global-button-background-color: #fcfcfc;
	--global-button-background-color-active: #f3f3f3;

	--global-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 40px 0px;
	--global-box-shadow-inset: rgba(0, 0, 0, 0.06) 0px 2px 40px 0px inset;
	--global-box-shadow-yellow: rgba(247, 202, 25, 0.8) 0px 2px 40px 0px,
		rgba(0, 0, 0, 0.06) 0px 2px 40px 0px inset;

	--global-text-color: rgba(0, 0, 0, 1);
	--global-text-color-inverted: rgba(255, 255, 255, 1);

	--color-yellow: #8d6708;
	--color-blue: #0000e0;
	--color-green: #008000;
}

:root * {
	transition: all 0.2s;
}

@font-face {
	font-family: 'Noto Sans';
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	src: url('/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'Noto Color Emoji';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf') format('truetype-variations');
}

body {
	background-color: var(--global-body-color);
	color: var(--global-text-color);
	font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
	font-size: 1em;
	margin: auto;
	max-width: 720px;
	padding: var(--global-spacing);
}

.container {
	display: grid;
	gap: var(--global-spacing);
	grid-template-rows: max-content;
}

nav {
	align-items: flex-start;
	background-color: var(--global-background-color);
	border: var(--global-border);
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
	display: flex;
	color: var(--global-text-color);
	padding: var(--global-spacing);
	position: unset;
}

nav .menu > * {
	margin-right: 0;
}

nav .menu-hero {
	flex-grow: 1;
}

.card {
	background-color: var(--global-background-color);
	border: var(--global-border);
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
	color: var(--global-text-color);
	margin-bottom: var(--global-spacing);
}

.card header,
.card footer {
	padding: var(--global-spacing);
}

.card header {
	border-bottom: var(--global-border);
}

button {
	background-color: var(--global-button-background-color);
	border: var(--global-border);
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
	color: var(--global-text-color);
	transition: all 1s;
}

button:hover {
	border: var(--global-border);
	box-shadow: var(--global-box-shadow-inset);
}

button:active {
	background-color: var(--global-button-background-color-active);
	border: var(--global-border);
	box-shadow: var(--global-box-shadow-yellow);
	/* color: var(--global-text-color-inverted); */
}

button:focus {
	border: var(--global-border);
	box-shadow: var(--global-box-shadow-yellow);
	outline: none;
}

button:focus-visible,
button:focus-within {
	box-shadow: var(--global-box-shadow-yellow);
	outline: none;
}

button[disabled] {
	background: unset;
	box-shadow: var(--global-box-shadow-inset);
}

button a {
	color: var(--global-text-color);
}

.card-last {
	margin-bottom: 0;
}

.last-item {
	padding-bottom: 0;
}

select {
	border-radius: var(--global-border-radius);
}
